*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}
:root{
    --cinza: #C3BEBA;
    --cinzaForte: #8E878E;
    --verde: #85A053;
    --preto: #292B2A;
    --vermelho: #A0255E;
    --azul: #736D99;
}
.centralizarflexi{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}
#corpo{
    background-color: var(--cinza);
    width: 50vw;
    height: 80vh;
    border-radius: 1% 1% 5% 1%;
    display: flex;
    justify-content: center;
    padding: 1%;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.03);
}
#contornodatela{
    width: 90%;
    height: 50%;
    background-color: var(--cinzaForte);
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    border-radius: 1% 1% 7% 1%;
}
#tela{
    background-color: #A3AC90;
    width: 80%;
    height: 80%;
}
#sejabemvindo{
    font-family: sans-serif;
    color: #333D1E;
    font-weight: bold;
    font-size: 3.7vw;
    animation: sejabemvindocor 0.0s infinite;
    text-decoration: underline;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 10%;
}

@keyframes sejabemvindocor {
    10%{
        color: #333D1E;
    }
    100%{
        color: #A3AC90;
    }
}
#centralizarflexi2{
    text-align: center
}
#centralizarflexi3{
    text-align: center;
    margin-top: 10%;
}
#botaodeentrar{
    width: 30vw;
    height: 7vh;
    font-size: 5vh;
    background-color: #A3AC90;
    border-style: solid;
    animation: botaoanimado 0s infinite;
    font-family: 'Pixelify Sans', sans-serif;
}
#botaodesair{
    width: 30vw;
    height: 7vh;
    font-size: 5vh;
    background-color: #A3AC90;
    border-style: solid;
    animation: botaoanimado 0s infinite;
    font-family: 'Pixelify Sans', sans-serif;
}
#botaodeentrar:hover{
    background-color: #a1e50e;
    color: #85A053;
    cursor: pointer;
}
/*
.botao{
    width: 0px;
    height: 0px;
    border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  border-top: 5vh solid red;
  rotate: 180deg;
}*/
@keyframes botaoanimado {
    10%{
        color: #A3AC90;
        border-color: #A3AC90;
    }
    100%{
        color: #292B2A;
        border-color: #292B2A;
    }
}

#teste{
    width: 200px;
    height: 200px;
  position: absolute;
  top: 55%;
  right: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}
#lado1{
    height: 23vh;
    width: 6vw;
    background-color: var(--preto);
    margin: 0px;
    position: absolute;
    border-radius: 10%;
}
#lado2{
    height: 6vh;
    width: 23vw;
    background-color: var(--preto);
    margin: 0px;
    position: absolute;
    border-radius: 10%;
}
#botaoA{
    border-radius: 50%;
    background-color: red;
    width: 7vw;
    height: 7vh;
    position: absolute;
    right: 30%;
    top: 58%;
}
#botaoB{
    border-radius: 50%;
    background-color: red;
    width: 7vw;
    height: 7vh;
    position: absolute;
    right: 37%;
    top: 70%;
}
/*
.risco{
    width: 2vw;
    height: 10vh;
    background-color: black;
    position: absolute;
    margin: 10px;
    rotate: 330deg;
    border-radius: 15%;
    display: flex;
    align-items: center;
}
.subrisco{
    width: 20%;
    height: 80%;
    background-color: gray;
    border-radius: 15%;
}
#risco1{
    top: 79%;
    right: 30%;
}
#risco2{
    top: 79%;
    left: 60%;
}
#risco3{
    top: 79%;
    left: 55%;
}
#risco4{
    top: 79%;
    left: 50%;
}
*/