*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}
:root{
    --cinza: #C3BEBA;
    --cinzaForte: #8E878E;
    --verde: #85A053;
    --preto: #292B2A;
    --vermelho: #A0255E;
    --roxo: #736D99;
    --azul: #1E278C;
}
.centralizarflexi{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}
#corpo{
    background: linear-gradient(to top right, #C3BEBA, #C9C4BF, #D0C9C5, #D6CFCB, #DDD4D1);
    width: 50vw;
    height: 80vh;
    border-radius: 1% 1% 5% 1%;
    display: flex;
    justify-content: center;
    padding: 0%;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.092);
}
#contornodatela{
    width: 90%;
    height: 50%;
    background-color: var(--cinzaForte);
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    border-radius: 1% 1% 7% 1%;
    box-shadow: inset 0px 0px 1vh rgba(0, 0, 0, 0.981);
}
#tela{
    background-color: #A3AC90;
    width: 80%;
    height: 80%;
    box-shadow: inset 0px 0px 1vh rgba(0, 0, 0, 0.981);
}
#sejabemvindo{
    font-family: sans-serif;
    color: #333D1E;
    font-weight: bold;
    font-size: 3.7vw;
    animation: sejabemvindocor 0.0s infinite;
    text-decoration: underline;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 10%;
}

@keyframes sejabemvindocor {
    10%{
        color: #333D1E;
    }
    100%{
        color: #A3AC90;
    }
}
#centralizarflexi2{
    text-align: center
}
#centralizarflexi3{
    text-align: center;
    margin-top: 10%;
}
#botaodeentrar{
    width: 30vw;
    height: 7vh;
    font-size: 5vh;
    background-color: #A3AC90;
    border-style: solid;
    font-family: 'Pixelify Sans', sans-serif;
}
#botaodesair{
    width: 30vw;
    height: 7vh;
    font-size: 5vh;
    background-color: #A3AC90;
    border-style: solid;
    animation: botaoanimado 0s infinite;
    font-family: 'Pixelify Sans', sans-serif;
}
#botaodeentrar:hover{
    cursor: pointer;
    animation: botaoanimado 0.2s infinite;
}
#botaodesair:hover{
    cursor: pointer;
    animation: botaoanimado 0.2s infinite;
}

@keyframes botaoanimado {
    10%{
        color: #A3AC90;
        border-color: #A3AC90;
    }
    100%{
        color: #292B2A;
        border-color: #292B2A;
    }
}
/* Está com esse nome "teste", por que foi o nome que eu dei quando eu estava testando e eu esqueci de mudar*/
#teste{
    width: 200px;
    height: 200px;
  position: absolute;
  top: 60%;
  right: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
}
#lado1{
    height: 23vh;
    width: 6vw;
    background-color: var(--preto);
    margin: 0px;
    position: absolute;
    border-radius: 10%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.981);
    display: flex;
    justify-content: center;
}
#lado2{
    height: 6vh;
    width: 23vw;
    background-color: var(--preto);
    margin: 0px;
    position: absolute;
    border-radius: 10%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.981);
}
#contorno{
    background-color: var(--cinzaForte);
    height: 80%;
    width: 25%;
    border-radius: 10%;
    position: absolute;
}
#contorno2{
    background-color: var(--cinzaForte);
    width: 80%;
    height: 25%;
    position: absolute;
    border-radius: 10%;
}
.botaodoanalogico{
    background-color: var(--vermelho);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
}
.botaodoanalogico:hover{
    cursor: pointer;
}
#apertar{
    width: 70%;
    height: 16%;
    margin-top: 9%;
}
#apertar2{
    width: 70%;
    height: 16%;
    top: 82%;
}
#apertar3{
    width: 16%;
    height: 70%;
    margin: 2%;
}
#apertar4{
    width: 16%;
    height: 70%;
    left: 80%;
    margin: 2%;
}
#separadordesombra{
    width: 10%;
    height: 20%;
    background-color: var(--preto);
    position: absolute;
    border: none;
    z-index: 0;
}
#botaoAeB{
    width: 100px;
    height: 100px;
    position: absolute;
}
#botaoA{
    border-radius: 50%;
    background-color: var(--cinzaForte);
    width: 7vw;
    height: 7vh;
    position: absolute;
    right: 30%;
    top: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botaoB{
    border-radius: 50%;
    background-color: var(--cinzaForte);
    width: 7vw;
    height: 7vh;
    position: absolute;
    right: 37%;
    top: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botoesAeB:hover{
    cursor: pointer;
}
#A{
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    font-size: 200%;
}
#B{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    font-size: 200%;
}
.corpodobotao{
    width: 70%;
    height: 70%;
    background-color: var(--vermelho);
    border-radius: 50%;
}
#manipularsombra{
    box-shadow: 0px 0px 0.5vh rgba(0, 0, 0, 0.981);
}
#manipularsombra2{
    box-shadow: 0px 0px 0.5vh rgba(0, 0, 0, 0.981);
}

@media screen and (min-width: 300px) {
    #corpo{
        width: 85vw;
        height: 80vh;
        text-align: center;
    }
    #sejabemvindo{
        font-size: 4vh;
    }
    #contornodatela{
        position: absolute;
        width: 75vw;
        height: 40vh;
    }
    #teste{
        position: absolute;
        right: 35vw;
        top: 49vh;
    }
    #lado1{
        width: 13%;
        height: 55%;
    }
    #lado2{
        width: 55%;
        height: 13%;
    }
    #botaoAeB{
        top: 60%;
        left: 56%;
    }
    #botaoA{
        position: absolute;
        top: -20%;
        left: 45%;
        width: 16vw;
        height: 16vw;
    }
    #botaoB{
        position: absolute;
        top: 70%;
        left: 10%;
        width: 16vw;
        height: 16vw;
    }
    #botaodeentrar{
        width: 20vh;
    }
    #botaodesair{
        width: 20vh;
    }
}
@media screen and (min-width: 305px) {
    #teste{
        margin-right: 4vw;
    }
    #botaoAeB{
        margin-left: 4vw;
    }
    #lado1{
        width: 10vw;
        height: 40vw;
    }
    #lado2{
        height: 10vw;
        width: 40vw;
    }
}
@media screen and (min-width: 380px) {
    #teste{
        margin-right: 7vw;
        margin-top: 5vw;
    }
    #botaoAeB{
        margin-left: 7vw;
        margin-top: 5vw;
    }
}
@media screen and (min-width: 420px) {
    #corpo{
        width: 75vw;
    }
    #lado1{
        width: 9vw;
        height: 35vw;
    }
    #lado2{
        width: 35vw;
        height: 9vw;
    }
    #botaoA{
        width: 14vw;
        height: 14vw;
        position: absolute;
        left: 30%;
    }
    #botaoB{
        width: 14vw;
        height: 14vw;
    }
    #contornodatela{
        width: 60%;
    }
}
@media screen and (max-width: 492px) and (min-height: 700px) {
    #teste{
        margin-top: 7vh;
    }
}
@media screen and (min-width: 500px) {
    #corpo{
        height: 85vh;
        width: 65vw;
    }
    #teste{
        position: absolute;
        right: 38%;
    }
    #lado1{
        width: 8vw;
        height: 30vw;
    }
    #lado2{
        height: 8vw;
        width: 30vw;
    }
    #botaoA{
        left: 20%;
        top: -30%;
    }
    #botaoB{
        left: -20%;
    }
    #contornodatela{
        width: 55%;
    }
}
@media screen and (min-width: 600px) {
    #teste{
        margin-right: 10vw;
    }
}
@media screen and (min-width: 700px) {
    #botaoA{
        top: -60%;
    }
}

@media screen and (max-height: 485px) {
    #botaoA{
        width: 10vh;
        height: 10vh;
    }
    #botaoB{
        width: 10vh;
        height: 10vh;
    }
}
@media screen and (min-height: 540px) {
    #teste{
        top: 52%;
    }
}
@media screen and (max-width: 414px) and (min-height: 600px) {
    #teste{
        margin-top: 2vh;
    }
    #botaoAeB{
        margin-top: 2vh;
    }
}
@media screen and (max-width: 2160px) and (min-height: 1024px) {
    #teste{
        margin-top: 8vh;
        right: 40%;
    }
    #botaoAeB{
        margin-top: 5vh;
    }
}
@media screen and (min-height: 1280px) {
    #corpo{
        height: 80%;
    }
}
@media screen and (min-width: 1200px) and (min-height: 1920px) {
    #corpo{
        width: 75%;
    }
    #contornodatela{
        width: 60%;
    }
    #teste{
        right: 50%;
        top: 55%;
    }
    #botaoA{
        top: -130%;
    }
    #botaoB{
        top: 100%;
        left: -85%;
    }
}
@media screen and (min-width: 2048px) and (min-height: 2732px) {
    #corpo{
        height: 90vh;
    }
    #botaoA{
        position: absolute;
        top: -290%;
    }
}
@media screen and (min-height: 3500px) {
    #corpo{
        height: 80vh;
    }
}
@media screen and (max-width: 1600px) and (min-height: 700px) {
    #corpo{
        width: 50vh;
    }
    #contornodatela{
        width: 40vh;
    }
    #separadordesombra{
        width: 5vh;
    }
    #teste{
        top: 48%;
    }
    #lado1{
        width: 5vh;
        height: 20vh;
    }
    #lado2{
        width: 20vh;
        height: 5vh;
    }
    #botaoAeB{
        position: absolute;
        left: 48vw;
        top: 58%;
    }
    #botaoA{
        width: 10vh;
        height: 10vh;
    }
    #botaoB{
        width: 10vh;
        height: 10vh;
    }}
    @media screen and (max-width: 300px) and (max-height: 900px) {
        #corpo{
            width: 90%;
            height: 75%;
        }
        #contornodatela{
            width: 80%;
            height: 30%;
        }
        #botaodeentrar{
            font-size: 3vh;
            width: 15vh;
            height: 4vh;
        }
        #botaodesair{
            font-size: 3vh;
            width: 15vh;
            height: 4vh;
        }
        #lado1{
            width: 5vh;
            height: 19vh;
        }
        #lado2{
            width: 19vh;
            height: 5vh;
        }
    }