*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}
:root{
    --cinza: #C3BEBA;
    --cinzaForte: #8E878E;
    --verde: #85A053;
    --preto: #292B2A;
    --vermelho: #A0255E;
    --azul: #736D99;
}
.centralizarflexi{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}
#corpo{
    background-color: var(--cinza);
    width: 50vw;
    height: 80vh;
    border-radius: 1% 1% 5% 1%;
    display: flex;
    justify-content: center;
    padding: 0%;
    box-shadow: -10px 10px rgb(0, 0, 0);
}
#contornodatela{
    width: 90%;
    height: 50%;
    background-color: var(--cinzaForte);
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    border-radius: 1% 1% 7% 1%;
}
#tela{
    background-color: #A3AC90;
    width: 80%;
    height: 80%;
}
#sejabemvindo{
    font-family: sans-serif;
    color: #333D1E;
    font-weight: bold;
    font-size: 3.7vw;
    animation: sejabemvindocor 0.0s infinite;
    text-decoration: underline;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 10%;
}

@keyframes sejabemvindocor {
    10%{
        color: #333D1E;
    }
    100%{
        color: #A3AC90;
    }
}
#centralizarflexi2{
    text-align: center
}
#centralizarflexi3{
    text-align: center;
    margin-top: 10%;
}
#botaodeentrar{
    width: 30vw;
    height: 7vh;
    font-size: 5vh;
    background-color: #A3AC90;
    border-style: solid;
    font-family: 'Pixelify Sans', sans-serif;
}
#botaodesair{
    width: 30vw;
    height: 7vh;
    font-size: 5vh;
    background-color: #A3AC90;
    border-style: solid;
    animation: botaoanimado 0s infinite;
    font-family: 'Pixelify Sans', sans-serif;
}
#botaodeentrar:hover{
    cursor: pointer;
    animation: botaoanimado 0.2s infinite;
}
#botaodesair:hover{
    cursor: pointer;
    animation: botaoanimado 0.2s infinite;
}

@keyframes botaoanimado {
    10%{
        color: #A3AC90;
        border-color: #A3AC90;
    }
    100%{
        color: #292B2A;
        border-color: #292B2A;
    }
}

#teste{
    width: 200px;
    height: 200px;
  position: absolute;
  top: 60%;
  right: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
}
#lado1{
    height: 23vh;
    width: 6vw;
    background-color: var(--preto);
    margin: 0px;
    position: absolute;
    border-radius: 10%;
}
#lado2{
    height: 6vh;
    width: 23vw;
    background-color: var(--preto);
    margin: 0px;
    position: absolute;
    border-radius: 10%;
}
#botaoAeB{
    width: 200px;
    height: 200px;
    position: absolute;
}
#botaoA{
    border-radius: 50%;
    background-color: red;
    width: 7vw;
    height: 7vh;
    position: absolute;
    right: 30%;
    top: 58%;
}
#botaoB{
    border-radius: 50%;
    background-color: red;
    width: 7vw;
    height: 7vh;
    position: absolute;
    right: 37%;
    top: 70%;
}
@media screen and (min-width: 300px) {
    #corpo{
        width: 90vw;
        height: 80vh;
        text-align: center;
    }
    #sejabemvindo{
        font-size: 4vh;
    }
    #contornodatela{
        position: absolute;
        width: 75vw;
        height: 40vh;
    }
    #teste{
        position: absolute;
        right: 35%;
        top: 49%;
    }
    #lado1{
        width: 13%;
        height: 55%;
    }
    #lado2{
        width: 55%;
        height: 13%;
    }
    #botaoAeB{
        top: 52%;
        left: 36%;
    }
    #botaoA{
        position: absolute;
        top: 20%;
        right: 20%;
        width: 30%;
        height: 30%;
    }
    #botaoB{
        position: absolute;
        top: 60%;
        width: 30%;
        height: 30%;
    }
    #botaodeentrar{
        width: 20vh;
    }
    #botaodesair{
        width: 20vh;
    }
}
@media screen and (max-height: 485px) {
    #botaoA{
        width: 10vh;
        height: 10vh;
    }
    #botaoB{
        width: 10vh;
        height: 10vh;
    }
}
@media screen and (min-height: 540px) {
    #teste{
        top: 52%;
    }
}