*{
    margin: 0px;
}
:root{
    --cinza:#413e40;
    --preto:#121012;
    --verde_claro:#5ccb5f;
    --verde_medio:#009929;
    --verde_escuro:#006414;
}
html, body{
    height: 100%;
    padding: 0px;
    overflow: hidden;
}
#fundo{
    width: 100%;
    height: 100%;
    z-index: -5;
  }
  #centralizarflexi{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #gabriel{
    width: 40vh;
    height: 40vh;
    position: absolute;
    top: 45%;
  }
  #centralizarflexi2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #centralizarflexi3{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #usuario{
    width: 40vh;
    height: 40vh;
    position: absolute;
    top: 61.5%;
  }
  #centralizartexto{
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .chat{
    width: 40vh;
    height: 40vh;
    position: absolute;
    top: 22%
  }
  p{
    color: black;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 2.5vh;
  }
  .topicos{
    color: lightskyblue;
    display: block;
    margin: 5%;
    font-size: 3vh;
    text-decoration: underline;
    width: 100%;
  }
  .topicos:hover{
    cursor: pointer;
  }
  #centroflex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  #txt{
    width: 34.5vh;
    height: 14.5vh;
    position: absolute;
    top: 28.5%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #centralizarflexip{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 30%;
    width: 25vh;
    height: 25vh;
  }
  #afirmacao{
    position: absolute;
    font-size: 4vh;
  }
  #chatdousuario{
    position: absolute;
    top: 0%;
    width: 25vh;
    height: 25vh;
    left: 0%;
  }
  .FazerAqlIconeIDeImagemIndisponivelDesaparecer{
    z-index: -1;
  }