*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cinza:#413e40;
    --preto:#121012;
    --verde_claro:#5ccb5f;
    --verde_medio:#009929;
    --verde_escuro:#006414;
}
body{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
   /* overflow-x: hidden; */
    text-align: center;
    align-items: center;
    justify-items: center;
    height: 10vh;
    background-color: #121012ec;
}
#teladosobremim{
    background-color: black;
    height: 400px;
}
#perguntadevjunior{
    background:linear-gradient(to right, var(--cinza), var(--preto));
    width: 100%;
    position: relative;
    bottom: 22px;
    height: 85px;
    text-align: left;
}
.marcatexto{
    background-color: var(--verde_medio);
    border-radius: 4px;
}
#pergunta{
    color:white;
    font-weight: bold;
}
#perguntadevjuniorh1{
    text-align: left;
    color: white;
    height: 100%;
    padding-top: 30px;
    font-weight: bold;
    padding-left: 20px;
}

#center{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    display: grid;
    place-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
}
#preenchimentodosobremim{
    background: linear-gradient(to right, var(--cinza), var(--preto));
    height: 250px;
    width: 600px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px 20px;
}

#sobremimp{
    text-align: justify;
    font-weight: bold;
    text-indent: 15px;
    padding: 20px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px 0px;
}

img{
    margin: 0px;
    padding: 0px;
}
#sobremim{
    color: white;
    font-size: 7em;
    position: relative;
}
.text{
    padding: 5px;
    border-radius: 1px 20px;
}
.habilidades{
    width: 30%;
}
.habilidades > h1{
    width: 100%;
}
#descricaohtml{
    word-wrap: break-word;
}
hr{
    border-style: solid;
    width: 95%;
    border-color: var(--verde_medio);
    animation: brilho 20s infinite;
    display: block;
    box-shadow: 0 0 9px var(--verde_claro);
}

/*
@keyframes brilho{
    10%{filter: blur(1px);border-color: var(--verde_medio)}
    20%{filter: blur(2px);border-color: var(--verde_claro);}
    30%{filter: blur(2px);border-color: var(--verde_escuro)}
    40%{filter: blur(1px);border-color: var(--verde_claro)}
    50%{filter: blur(2px);border-color: var(--verde_medio)}
    60%{filter: blur(1px);border-color: var(--verde_escuro)}
    70%{filter: blur(2px);border-color: var(--verde_claro)}
    80%{filter: blur(1px);border-color: var(--verde_medio)}
    90%{filter: blur(2px);border-color: var(--verde_escuro)}
    100%{filter: blur(1px);border-color: var(--verde_claro)}
}*/
#issoeumacamera{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--preto);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}
#issoealente{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
}
.imgtamanho{
    margin: 0px;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-left: 10px;
    transition: transform 0.5s;
}
#posicionarskils{
    background:linear-gradient(to bottom,black, var(--cinza),var(--preto),gray,rgb(69, 68, 68));
    width: 105px;
    height: 500px;
    position: absolute;
    left: 1350px;
    border-radius: 20px;
    top: 150px;
}

#Habilidades{
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 2em;
    width: 100%;
    text-align: right;
    text-decoration: underline;
    position: relative;
    bottom: 20px;
    right: 40px;
}
.imgtamanho:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#descricaohtml{
    display: block;
    position: absolute;
    right: 130px;
    top: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 20px 20px 0px 20px;
    font-weight: bold;
}

@media screen and (max-width: 320px) {
    #perguntadevjunior{
        position: relative;
        top: 0px;
        width: 100%;
    }
    #perguntadevjuniorh1{
        font-size: 20px;
        position: absolute;
        bottom: 30px;
    }
    #sobremim{
        color: white;
        font-size: 3em;
        position: relative;
    }
    #preenchimentodosobremim{
       width: 280px;
    }
    #Habilidades{
        position: absolute;
        top: 500px;
        text-align: center;
        place-content: center;
        margin: auto;
        width: 30px;
        right: 250px;
        font-size: 3em;
        margin-bottom: 100px;
    }
    hr{
        border-color: var(--verde_medio);
        width: 100%;
        position: relative;
        top: 40px;
    }
}

@media screen and (max-width: 360px) {
    #sobremim{
        color: blue;
        font-size: 5px;
        position: relative;
    }
}

@media screen and (max-width: 750px) {
    #posicionarskils{
        position: absolute;
        top: 450px;
        left: 60%;
        text-align: center;
        justify-content: center;
        margin: auto;
        place-items: center;
        align-items: center;
        display: block;
        margin-top: 60px;

    }
    #Habilidades{
        position: absolute;
        top: 350px;
        text-align: center;
        place-content: center;
        margin: auto;
        width: 30px;
        right: 290px;
        font-size: 3em;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 750px){
    #perguntadevjuniorh1{
        text-align: center;
        padding-left: 0px;
        font-size: 24px;
    }
    body{
        width: 100%;
        overflow-x: hidden;
    }
    #sobremim{
        color: white;
        font-size: 4em;
        position: relative;
    }
    #preenchimentodosobremim{
        width: 321px;
    }
    #perguntadevjunior{
        background:linear-gradient(to right, var(--cinza), var(--preto));
    width: 100%;
    position: relative;
    bottom: 22px;
    height: 85px;
    text-align: center;
    place-content: center;
    margin: auto;
    }
    #descricaohtml{
        display: block;
        font-size: 13px;
        position: relative;
        top: -140px;
    }
    hr{
        border-color: var(--verde_medio);
        width: 100%;
        position: relative;
        top: 40px;
    }
    #Habilidades{
        position: absolute;
        top: 400px;
    }
}


/*
Uma possível linha verde perto do <hr> que está em baixo do "Sobre mim"

#spancor{
    width: 95%;
    height: 1%;
    background-color: var(--verde_escuro);
    padding-top: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 10px;
}
*/