.arm{
    position: absolute;
    top: -60vh;
    width: 100vh;
    height: 50vh;
    margin: 0;
    transform: rotate(90deg);
    z-index: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 6;
}
.armAnimation{
    animation: armMove 3s linear forwards;
}
.armReverseAnimation{
    animation: armMove 3.1s linear forwards;
}
@keyframes armMove {
    0%{
        top: -60vh;
    }
    50%{
        top: 15vh;
    }
    65%{
        top: 15vh;
    }
    100%{
        top: -60vh;
    }
}