.dossierContainer{
    position: relative;
    width: 98vw;
    max-width: 340px;
    height: 80vh;
    background-color: #645D74;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2vh;
    border-end-end-radius: 2vh;
}
.activate{
    position: absolute;
    top: -70vh;
    animation: projectAnimation 1.5s linear forwards;
    z-index: 5;
}

.desactivate{
    position: absolute;
    animation: reverseProjectAnimation 3.5s linear forwards;
    z-index: 5;
}

@keyframes projectAnimation {
    0%{
        top: -60vh;
    }
    100%{
        top: 10vh;
    }
}
@keyframes reverseProjectAnimation {
    0%{
        top: 10vh;
    }
    50%{
        top: 10vh;
    }
    60%{
        top: 10vh;
    }
    100%{
        top: -80vh;
    }
}
.dossierPage{
    position: absolute;
    width: 92%;
    height: 90%;
    background-color: #CBCBCB;
}
.notes{
    background-color: #FEEFAB;
    margin-left: 1.3%;
    box-shadow: -16px 16px 9px -10px rgba(0, 0, 0, 0.262);
    padding: 1%;
    margin-bottom: 5%;
}
.notesInfo{
    width: 100%;
    color: black; 
    font-size: 0.7rem;
    text-align: left;
}
.notesTopic{
    font-weight: bold; 
    font-size: 0.75rem;
}
.photoContainer{
    width: 3vh;
    height: 3vh;
    background-color: #DDDFDD;
}
.photo{
    width: 2vh;
    height: 2vh;
    background-color: #616161;
}
.centralizeNotesAndPhotos{
    width: 100%;
    display: flex;
    justify-content: left;
}

.title{
    font-size: 1.4rem;
    text-align: left;
    padding-left: 4%;
    margin: 0;
    color: #66615E;
}
.text{
    color: #66615E;
}

.centralizeBottomButtons{
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1ab8;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 3%;
  animation: buttonAnimation 2.5s linear infinite;
}
button:hover {
  border-color: #646cff;
}

@keyframes buttonAnimation {
    0%{
        transform: scale(1);
    }
    50%{transform: scale(1.1);}
    100%{
        transform: scale(1);
    }
}